@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Uplow.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Light.ttf");
  font-weight: normal;
}
/* line 14, ../scss/style.scss */
* {
  font-family: 'Economica', sans-serif;
  font-weight: normal;
}

/* line 19, ../scss/style.scss */
h1, h2, h3, h4, h5, .filter-item, a {
  font-family: "Gobold";
  text-transform: uppercase;
}

/* line 25, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 29, ../scss/style.scss */
ul {
  padding: 0;
}

/* line 34, ../scss/style.scss */
h2 {
  font-size: 26px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 45, ../scss/style.scss */
.loader-wrapper {
  background: url("../img/loader.gif") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
}

/* line 56, ../scss/style.scss */
.navbar-inverse {
  background-color: #000;
}

/* line 62, ../scss/style.scss */
.section.splash {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: url("../img/fullsplash.jpg") center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 71, ../scss/style.scss */
.baseline-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4%;
  text-align: center;
}

/* line 78, ../scss/style.scss */
.baseline-l1 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 84, ../scss/style.scss */
.baseline-l2 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 90, ../scss/style.scss */
.social-item {
  display: inline-block;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

/* line 96, ../scss/style.scss */
.facebook {
  background: url("../img/FB.svg");
}

/* line 99, ../scss/style.scss */
.behance {
  background: url("../img/Be.svg");
}

/* line 102, ../scss/style.scss */
.instagram {
  background: url("../img/Insta.svg");
}

/* line 109, ../scss/style.scss */
.section.portfolio .filter-item {
  margin-right: 29px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 113, ../scss/style.scss */
.section.portfolio .filter-list {
  text-align: center;
}
/* line 116, ../scss/style.scss */
.section.portfolio .filter-item {
  text-transform: uppercase;
  padding-right: 4px;
  font-style: normal;
}
/* line 123, ../scss/style.scss */
.section.portfolio .filter-item:hover {
  background: #000;
  color: #FFF;
  min-height: 600px;
  cursor: pointer;
}
/* line 129, ../scss/style.scss */
.section.portfolio .portfolio-list {
  font-size: 0;
}
/* line 132, ../scss/style.scss */
.section.portfolio .portfolio-item {
  font-size: 12px;
  width: 16.6666666%;
  display: inline-block;
}
@media screen and (max-width: 1090px) {
  /* line 132, ../scss/style.scss */
  .section.portfolio .portfolio-item {
    width: 20%;
  }
}
@media screen and (max-width: 875px) {
  /* line 132, ../scss/style.scss */
  .section.portfolio .portfolio-item {
    width: 25%;
  }
}
@media screen and (max-width: 475px) {
  /* line 132, ../scss/style.scss */
  .section.portfolio .portfolio-item {
    width: 33.3333333334%;
  }
}
@media screen and (max-width: 275px) {
  /* line 132, ../scss/style.scss */
  .section.portfolio .portfolio-item {
    width: 50%;
  }
}
/* line 148, ../scss/style.scss */
.section.portfolio .portfolio-item img {
  width: 100%;
}
/* line 151, ../scss/style.scss */
.section.portfolio .portfolio-item:hover figcaption {
  opacity: 0.8;
}
/* line 154, ../scss/style.scss */
.section.portfolio .portfolio-item:hover figcaption h3 {
  top: 37%;
}
/* line 158, ../scss/style.scss */
.section.portfolio .portfolio-cover {
  position: relative;
}
/* line 161, ../scss/style.scss */
.section.portfolio figcaption {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
/* line 170, ../scss/style.scss */
.section.portfolio figcaption h3 {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  position: relative;
  top: 45%;
  color: #FFF;
  font-size: 19px;
  line-height: 24px;
  margin: 2px;
}
/* line 184, ../scss/style.scss */
.section.portfolio .image-big img {
  width: 100%;
}
/* line 188, ../scss/style.scss */
.section.portfolio .project-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}
/* line 196, ../scss/style.scss */
.section.portfolio .project-description {
  font-size: 18px;
  margin: 20px;
}
/* line 200, ../scss/style.scss */
.section.portfolio .owl-item div {
  text-align: center;
}
/* line 204, ../scss/style.scss */
.section.portfolio #modal-container {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
/* line 219, ../scss/style.scss */
.section.portfolio #modal-inner {
  height: 100%;
  text-align: center;
}
/* line 223, ../scss/style.scss */
.section.portfolio .project-description, .section.portfolio .project-title {
  color: #FFF;
}
/* line 226, ../scss/style.scss */
.section.portfolio .modal-image-container {
  height: 400px;
  width: auto;
}
/* line 229, ../scss/style.scss */
.section.portfolio .modal-image-container img {
  height: 100%;
}
/* line 233, ../scss/style.scss */
.section.portfolio #close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #FFF;
}

/* line 243, ../scss/style.scss */
.section.about {
  min-height: 430px;
  position: relative;
}

/* line 247, ../scss/style.scss */
.professional-experiences-container, .education-container {
  width: 392px;
  text-align: center;
  width: 38%;
}

/* line 252, ../scss/style.scss */
.professional-experiences-container {
  float: left;
}

/* line 255, ../scss/style.scss */
.education-container {
  float: right;
}

/* line 258, ../scss/style.scss */
.hello-container {
  height: 335px;
  background: url("../img/rond.jpg") center center no-repeat;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

/* line 269, ../scss/style.scss */
.hello-inner {
  margin-top: 62px;
}

@media screen and (max-width: 1050px) {
  /* line 273, ../scss/style.scss */
  .professional-experiences-container, .education-container {
    float: none;
    width: 100%;
  }

  /* line 277, ../scss/style.scss */
  .hello-container {
    position: static;
  }
}
/* line 281, ../scss/style.scss */
.professional-experiences-header, .education-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 286, ../scss/style.scss */
.professional-experiences-separator, .education-separator {
  height: 12px;
}
/* line 288, ../scss/style.scss */
.professional-experiences-separator img, .education-separator img {
  height: 100%;
}

/* line 292, ../scss/style.scss */
.professional-experiences-list, .education-list {
  list-style-type: none;
}

/* line 295, ../scss/style.scss */
.professional-experiences-item, .education-item {
  margin-bottom: 10px;
}

/* line 298, ../scss/style.scss */
.professional-experiences-l1, .education-l1 {
  margin-bottom: -5px;
}

/* line 301, ../scss/style.scss */
.when {
  font-style: italic;
}

/* line 304, ../scss/style.scss */
.where {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Gobold;
  margin-left: 5px;
}

/* line 311, ../scss/style.scss */
.what {
  font-weight: bold;
  margin-bottom: 4px;
}

/* line 316, ../scss/style.scss */
.hello-l1, .hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7 {
  color: #FFF;
  margin-bottom: 0px;
}

/* line 320, ../scss/style.scss */
.hello-l1 {
  font-size: 29px;
}

/* line 323, ../scss/style.scss */
.hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7 {
  font-size: 18px;
  margin-bottom: -4px;
}

/* line 329, ../scss/style.scss */
.section.contact {
  min-height: 600px;
}

/* line 332, ../scss/style.scss */
.contact-inner {
  min-height: 500px;
  width: 600px;
  margin: 0 auto;
}

/* line 338, ../scss/style.scss */
.contact-left-container {
  float: left;
}

/* line 341, ../scss/style.scss */
.contact-left-inner {
  width: 290px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 20px;
}

/* line 347, ../scss/style.scss */
.contact-right-container {
  float: right;
}

/* line 350, ../scss/style.scss */
.contact-right-inner {
  width: 283px;
  margin: 0 auto;
  height: 420px;
  background: url("../img/form.jpg") center center;
}

@media screen and (max-width: 800px) {
  /* line 357, ../scss/style.scss */
  .contact-left-inner {
    text-align: center;
    margin: 0 auto;
  }

  /* line 361, ../scss/style.scss */
  .contact-left-container, .contact-right-container {
    float: none;
  }

  /* line 364, ../scss/style.scss */
  .contact-inner {
    width: auto;
  }
}
