@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Uplow.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Light.ttf");
  font-weight: normal;
}
/* line 14, ../scss/_base.scss */
* {
  font-family: 'Economica', sans-serif;
  font-weight: normal;
}

/* line 19, ../scss/_base.scss */
h1, h2, h3, h4, h5, .filter-item, a {
  font-family: "Gobold";
  text-transform: uppercase;
}

/* line 25, ../scss/_base.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
}

/* line 30, ../scss/_base.scss */
ul {
  padding: 0;
}

/* line 34, ../scss/_base.scss */
h2 {
  font-size: 26px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 43, ../scss/_base.scss */
.section-header {
  padding-top: 30px;
}

/* line 3, ../scss/_loader.scss */
.loader-wrapper {
  background: url("../img/loader.gif") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
}

/* line 3, ../scss/_hero.scss */
.hero {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: url("../img/fullhero.jpg") center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 3911px) {
  /* line 3, ../scss/_hero.scss */
  .hero {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

/* line 15, ../scss/_hero.scss */
.baseline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7%;
  text-align: center;
}

/* line 22, ../scss/_hero.scss */
.baseline__l1 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 29, ../scss/_hero.scss */
.baseline__l2 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
}
/* line 35, ../scss/_hero.scss */
.baseline__l2 p {
  margin: 0;
}

/* line 39, ../scss/_hero.scss */
.social-item {
  display: inline-block;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

/* line 45, ../scss/_hero.scss */
.facebook {
  background: url("../img/FB.svg");
}

/* line 48, ../scss/_hero.scss */
.behance {
  background: url("../img/Be.svg");
}

/* line 51, ../scss/_hero.scss */
.instagram {
  background: url("../img/Insta.svg");
}

@media screen and (min-height: 500px) {
  /* line 55, ../scss/_hero.scss */
  .baseline__l1 {
    font-size: 38px;
  }

  /* line 58, ../scss/_hero.scss */
  .baseline__l2 {
    font-size: 24px;
  }

  /* line 61, ../scss/_hero.scss */
  .social-item {
    width: 35px;
    height: 35px;
  }
}
/* line 66, ../scss/_hero.scss */
.hero .fa {
  color: #FFF;
}

/* line 3, ../scss/_portfolio.scss */
.filters-container {
  width: 90%;
  margin: 14px auto 30px auto;
}

/* line 8, ../scss/_portfolio.scss */
.filter-item {
  margin-right: 29px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  padding-right: 2px;
  padding-left: 2px;
  font-style: normal;
}
/* line 15, ../scss/_portfolio.scss */
.filter-item:last-child {
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 540px) {
  /* line 8, ../scss/_portfolio.scss */
  .filter-item {
    margin-right: 10px;
  }
}

/* line 23, ../scss/_portfolio.scss */
.filter-list {
  text-align: center;
}

/* line 27, ../scss/_portfolio.scss */
.filter-item:hover {
  background: #000;
  color: #FFF;
  min-height: 600px;
  cursor: pointer;
}

/* line 33, ../scss/_portfolio.scss */
.portfolio-list {
  font-size: 0;
}

/* line 36, ../scss/_portfolio.scss */
.portfolio-item {
  font-size: 12px;
  width: 16.6666666%;
  display: inline-block;
}
@media screen and (max-width: 1090px) {
  /* line 36, ../scss/_portfolio.scss */
  .portfolio-item {
    width: 20%;
  }
}
@media screen and (max-width: 875px) {
  /* line 36, ../scss/_portfolio.scss */
  .portfolio-item {
    width: 25%;
  }
}
@media screen and (max-width: 475px) {
  /* line 36, ../scss/_portfolio.scss */
  .portfolio-item {
    width: 33.3333333334%;
  }
}
@media screen and (max-width: 275px) {
  /* line 36, ../scss/_portfolio.scss */
  .portfolio-item {
    width: 50%;
  }
}
/* line 52, ../scss/_portfolio.scss */
.portfolio-item img {
  width: 100%;
}
/* line 55, ../scss/_portfolio.scss */
.portfolio-item:hover figcaption {
  opacity: 0.8;
}
/* line 58, ../scss/_portfolio.scss */
.portfolio-item:hover figcaption h3 {
  top: 37%;
}

/* line 62, ../scss/_portfolio.scss */
.portfolio-cover {
  position: relative;
}

/* line 65, ../scss/_portfolio.scss */
figcaption {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
/* line 74, ../scss/_portfolio.scss */
figcaption h3 {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  position: relative;
  top: 45%;
  color: #FFF;
  font-size: 19px;
  line-height: 24px;
  margin: 2px;
}

/* line 88, ../scss/_portfolio.scss */
.image-big img {
  width: 100%;
}

/* line 92, ../scss/_portfolio.scss */
.project-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

/* line 100, ../scss/_portfolio.scss */
.project-description {
  font-size: 18px;
  margin: 20px 20px 10px;
}

/* line 105, ../scss/_portfolio.scss */
#modal-container {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: scroll;
}

/* line 121, ../scss/_portfolio.scss */
#modal-inner {
  height: 100%;
  text-align: center;
}

/* line 125, ../scss/_portfolio.scss */
.project-description, .project-title {
  color: #FFF;
}

/* line 128, ../scss/_portfolio.scss */
.owl-nav {
  color: white;
  margin-bottom: 10px;
}
/* line 131, ../scss/_portfolio.scss */
.owl-nav div {
  display: inline-block;
  margin-right: 10px;
}
/* line 134, ../scss/_portfolio.scss */
.owl-nav div:hover {
  cursor: pointer;
}

/* line 139, ../scss/_portfolio.scss */
#close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #FFF;
}

/* line 3, ../scss/_about.scss */
.section.about {
  min-height: 430px;
  position: relative;
}

/* line 7, ../scss/_about.scss */
.professional-experiences-container, .education-container {
  width: 392px;
  text-align: center;
  width: 38%;
}

/* line 12, ../scss/_about.scss */
.professional-experiences-container {
  float: left;
}

/* line 15, ../scss/_about.scss */
.education-container {
  float: right;
}

/* line 18, ../scss/_about.scss */
.hello-container {
  height: 340px;
  background: url("../img/rond.jpg") center center no-repeat;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 18, ../scss/_about.scss */
  .hello-container {
    background: url("../img/rond-retina.jpg") center center no-repeat;
    background-size: contain;
  }
}

/* line 33, ../scss/_about.scss */
.hello-inner {
  margin-top: 62px;
}

@media screen and (max-width: 1050px) {
  /* line 37, ../scss/_about.scss */
  .professional-experiences-container, .education-container {
    float: none;
    width: 100%;
  }

  /* line 41, ../scss/_about.scss */
  .hello-container {
    position: static;
  }
}
/* line 45, ../scss/_about.scss */
.professional-experiences-header, .education-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 50, ../scss/_about.scss */
.professional-experiences-separator, .education-separator {
  margin-bottom: 8px;
}
/* line 51, ../scss/_about.scss */
.professional-experiences-separator img, .education-separator img {
  height: 100%;
}

/* line 56, ../scss/_about.scss */
.professional-experiences-separator img {
  width: 342px;
}

/* line 59, ../scss/_about.scss */
.professional-experiences-separator {
  height: 12px;
}

/* line 62, ../scss/_about.scss */
.education-separator {
  height: 15px;
}

/* line 65, ../scss/_about.scss */
.professional-experiences-list, .education-list {
  list-style-type: none;
}

/* line 68, ../scss/_about.scss */
.professional-experiences-item, .education-item {
  margin-bottom: 10px;
}

/* line 71, ../scss/_about.scss */
.professional-experiences-l1, .education-l1 {
  margin-bottom: -5px;
}

/* line 74, ../scss/_about.scss */
.when {
  font-style: italic;
}

/* line 77, ../scss/_about.scss */
.where {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Gobold;
  margin-left: 5px;
}

/* line 84, ../scss/_about.scss */
.what {
  font-weight: bold;
  margin-bottom: 4px;
}

/* line 89, ../scss/_about.scss */
.hello-l1, .hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7, .hello-l8 {
  color: #FFF;
  margin-bottom: 0px;
}

/* line 93, ../scss/_about.scss */
.hello-l1 {
  font-size: 29px;
}

/* line 96, ../scss/_about.scss */
.hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7, .hello-l8 {
  font-size: 18px;
  margin-bottom: -4px;
}

/* line 3, ../scss/_contact.scss */
.section.contact {
  min-height: 530px;
}

/* line 6, ../scss/_contact.scss */
.contact-inner {
  min-height: 450px;
  width: 600px;
  margin: 0 auto;
}

/* line 12, ../scss/_contact.scss */
.contact-left-container {
  float: left;
  width: 200px;
}

/* line 16, ../scss/_contact.scss */
.contact-left-inner {
  width: 280px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 20px;
}

/* line 22, ../scss/_contact.scss */
.contact-right-container {
  float: right;
  width: 338px;
}

/* line 26, ../scss/_contact.scss */
.contact-right-inner {
  width: 283px;
  margin: 0 auto;
  height: 455px;
  background: url("../img/form.jpg") center center no-repeat;
  overflow: hidden;
}
/* line 32, ../scss/_contact.scss */
.contact-right-inner p {
  color: white;
  font-size: 20px;
  margin-top: 202px;
  margin-left: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 26, ../scss/_contact.scss */
  .contact-right-inner {
    background: url("../img/form-retina.jpg") center center no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

@media screen and (max-width: 800px) {
  /* line 44, ../scss/_contact.scss */
  .contact-left-inner {
    text-align: center;
    margin-left: 23px;
    margin-top: 26px;
  }

  /* line 50, ../scss/_contact.scss */
  .contact-left-container, .contact-right-container {
    float: none;
  }

  /* line 53, ../scss/_contact.scss */
  .contact-inner {
    width: 322px;
  }
}
/* line 61, ../scss/_contact.scss */
textarea {
  background: transparent;
  border: 2px solid #FFF;
  width: 100%;
}

/* line 66, ../scss/_contact.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

/* line 76, ../scss/_contact.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.4em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #fff;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

/* line 91, ../scss/_contact.scss */
.input__field:focus {
  outline: none;
}

/* line 95, ../scss/_contact.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 112, ../scss/_contact.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* line 119, ../scss/_contact.scss */
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

/* line 126, ../scss/_contact.scss */
.icon {
  color: #fff;
  font-size: 150%;
}

/* line 130, ../scss/_contact.scss */
.input__field--yoshiko {
  width: 100%;
  background-color: transparent;
  border: 2px solid #FFF;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

/* line 139, ../scss/_contact.scss */
.input__label--yoshiko {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 2.5em, 0);
  transform: translate3d(0, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 154, ../scss/_contact.scss */
.input__label-content--yoshiko {
  color: #fff;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 163, ../scss/_contact.scss */
.input__label-content--yoshiko::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

/* line 178, ../scss/_contact.scss */
.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
  -webkit-transform: translate3d(0, 0.75em, 0);
  transform: translate3d(0, 0.75em, 0);
}

/* line 184, ../scss/_contact.scss */
.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 190, ../scss/_contact.scss */
.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
  background-color: transparent;
  border-color: #fff;
}

/* line 195, ../scss/_contact.scss */
.contact-form-container {
  width: 83%;
  margin: 35px auto;
  position: relative;
}

/* line 200, ../scss/_contact.scss */
.submit-btn {
  position: absolute;
  right: 14px;
  background: #000;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #FFF;
  z-index: 1;
}
/* line 208, ../scss/_contact.scss */
.submit-btn:hover {
  color: black;
}
/* line 211, ../scss/_contact.scss */
.submit-btn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FFF;
  z-index: -1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 222, ../scss/_contact.scss */
.submit-btn:hover:after {
  width: 100%;
}

/* line 3, ../scss/_footer.scss */
.footer {
  color: #FFF;
  height: 60px;
  background: #000;
  text-transform: uppercase;
  text-align: center;
}

/* line 10, ../scss/_footer.scss */
.footer-l1 {
  display: inline-block;
}

/* line 13, ../scss/_footer.scss */
.footer-name {
  font-size: 22px;
}

/* line 16, ../scss/_footer.scss */
.footer-list {
  margin: 0;
  display: inline;
}

/* line 20, ../scss/_footer.scss */
.footer-item {
  display: inline-block;
  margin-left: 16px;
}

/* line 24, ../scss/_footer.scss */
.footer-link {
  color: lightgrey;
}
/* line 27, ../scss/_footer.scss */
.footer-link:hover {
  color: #FFF;
  text-decoration: none;
}

/* line 32, ../scss/_footer.scss */
.contact-me-link {
  font-size: 12px;
  color: lightgrey;
}

@-webkit-keyframes scroll-inner {
  from {
    margin-top: 15%;
    opacity: 1;
  }
  to {
    margin-top: 75%;
    opacity: 0;
  }
}
@keyframes scroll-inner {
  from {
    margin-top: 15%;
    opacity: 1;
  }
  to {
    margin-top: 75%;
    opacity: 0;
  }
}
/* line 31, ../scss/_mouse.scss */
div.mouse-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: 50px;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}

/* line 44, ../scss/_mouse.scss */
div.mouse {
  position: relative;
  display: block;
  width: 20px;
  height: 30px;
  margin: 0 auto;
  border: solid 1px #fff;
  border-radius: 8px;
}
/* line 57, ../scss/_mouse.scss */
div.mouse span.scroll-down {
  display: block;
  width: 4px;
  height: 4px;
  margin: 15% auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background: #fff;
}

/*
 *  Owl Carousel - Core
 */
/* line 4, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
/* line 12, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
/* line 17, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 26, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
/* line 33, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* line 41, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
/* line 47, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
/* line 52, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 64, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 68, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 73, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 77, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
/* line 81, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 88, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
/* line 93, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 97, ../bower_components/owl.carousel/src/scss/_core.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 103, ../bower_components/owl.carousel/src/scss/_core.scss */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
/* line 5, ../bower_components/owl.carousel/src/scss/_animate.scss */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
/* line 9, ../bower_components/owl.carousel/src/scss/_animate.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 12, ../bower_components/owl.carousel/src/scss/_animate.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 15, ../bower_components/owl.carousel/src/scss/_animate.scss */
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 5, ../bower_components/owl.carousel/src/scss/_autoheight.scss */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 7, ../bower_components/owl.carousel/src/scss/_lazyload.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
/* line 12, ../bower_components/owl.carousel/src/scss/_lazyload.scss */
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
/* line 6, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 12, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
/* line 27, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
/* line 31, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
/* line 36, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
/* line 45, ../bower_components/owl.carousel/src/scss/_video.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
