@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Uplow.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold/Gobold Light.ttf");
  font-weight: normal;
}
/* line 14, ../scss/style.scss */
* {
  font-family: 'Economica', sans-serif;
  font-weight: normal;
}

/* line 19, ../scss/style.scss */
h1, h2, h3, h4, h5, .filter-item, a {
  font-family: "Gobold";
  text-transform: uppercase;
}

/* line 25, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 29, ../scss/style.scss */
ul {
  padding: 0;
}

/* line 34, ../scss/style.scss */
h2 {
  font-size: 26px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 45, ../scss/style.scss */
.loader-wrapper {
  background: url("../img/loader.gif") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
}

/* line 56, ../scss/style.scss */
.navbar-inverse {
  background-color: #000;
}

/* line 62, ../scss/style.scss */
.section.splash {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: url("../img/fullsplash.jpg") center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 71, ../scss/style.scss */
.baseline-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4%;
  text-align: center;
}

/* line 78, ../scss/style.scss */
.baseline-l1 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 84, ../scss/style.scss */
.baseline-l2 {
  color: #FFF;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 90, ../scss/style.scss */
.social-item {
  display: inline-block;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

/* line 96, ../scss/style.scss */
.facebook {
  background: url("../img/FB.svg");
}

/* line 99, ../scss/style.scss */
.behance {
  background: url("../img/Be.svg");
}

/* line 102, ../scss/style.scss */
.instagram {
  background: url("../img/Insta.svg");
}

/* line 109, ../scss/style.scss */
.filter-item {
  margin-right: 29px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 113, ../scss/style.scss */
.filter-list {
  text-align: center;
}

/* line 116, ../scss/style.scss */
.filter-item {
  text-transform: uppercase;
  padding-right: 4px;
  font-style: normal;
}

/* line 123, ../scss/style.scss */
.filter-item:hover {
  background: #000;
  color: #FFF;
  min-height: 600px;
  cursor: pointer;
}

/* line 129, ../scss/style.scss */
.portfolio-list {
  font-size: 0;
}

/* line 132, ../scss/style.scss */
.portfolio-item {
  font-size: 12px;
  width: 16.6666666%;
  display: inline-block;
}
@media screen and (max-width: 1090px) {
  /* line 132, ../scss/style.scss */
  .portfolio-item {
    width: 20%;
  }
}
@media screen and (max-width: 875px) {
  /* line 132, ../scss/style.scss */
  .portfolio-item {
    width: 25%;
  }
}
@media screen and (max-width: 475px) {
  /* line 132, ../scss/style.scss */
  .portfolio-item {
    width: 33.3333333334%;
  }
}
@media screen and (max-width: 275px) {
  /* line 132, ../scss/style.scss */
  .portfolio-item {
    width: 50%;
  }
}
/* line 148, ../scss/style.scss */
.portfolio-item img {
  width: 100%;
}
/* line 151, ../scss/style.scss */
.portfolio-item:hover figcaption {
  opacity: 0.8;
}
/* line 154, ../scss/style.scss */
.portfolio-item:hover figcaption h3 {
  top: 37%;
}

/* line 158, ../scss/style.scss */
.portfolio-cover {
  position: relative;
}

/* line 161, ../scss/style.scss */
figcaption {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
/* line 170, ../scss/style.scss */
figcaption h3 {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  position: relative;
  top: 45%;
  color: #FFF;
  font-size: 19px;
  line-height: 24px;
  margin: 2px;
}

/* line 184, ../scss/style.scss */
.image-big img {
  width: 100%;
}

/* line 188, ../scss/style.scss */
.project-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

/* line 196, ../scss/style.scss */
.project-description {
  font-size: 18px;
  margin: 20px;
}

/* line 200, ../scss/style.scss */
.owl-item div {
  text-align: center;
}

/* line 204, ../scss/style.scss */
#modal-container {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 219, ../scss/style.scss */
#modal-inner {
  height: 100%;
  text-align: center;
}

/* line 223, ../scss/style.scss */
.project-description, .project-title {
  color: #FFF;
}

/* line 226, ../scss/style.scss */
.modal-image-container {
  height: 400px;
  width: auto;
}
@media screen and (min-width: 1400px) {
  /* line 226, ../scss/style.scss */
  .modal-image-container {
    height: 600px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 226, ../scss/style.scss */
  .modal-image-container {
    height: 800px;
  }
}
@media screen and (min-width: 1800px) {
  /* line 226, ../scss/style.scss */
  .modal-image-container {
    height: 1000px;
  }
}
/* line 238, ../scss/style.scss */
.modal-image-container img {
  height: 100%;
}

/* line 242, ../scss/style.scss */
#close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #FFF;
}

/* line 253, ../scss/style.scss */
.section.about {
  min-height: 430px;
  position: relative;
}

/* line 257, ../scss/style.scss */
.professional-experiences-container, .education-container {
  width: 392px;
  text-align: center;
  width: 38%;
}

/* line 262, ../scss/style.scss */
.professional-experiences-container {
  float: left;
}

/* line 265, ../scss/style.scss */
.education-container {
  float: right;
}

/* line 268, ../scss/style.scss */
.hello-container {
  height: 335px;
  background: url("../img/rond.jpg") center center no-repeat;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

/* line 279, ../scss/style.scss */
.hello-inner {
  margin-top: 62px;
}

@media screen and (max-width: 1050px) {
  /* line 283, ../scss/style.scss */
  .professional-experiences-container, .education-container {
    float: none;
    width: 100%;
  }

  /* line 287, ../scss/style.scss */
  .hello-container {
    position: static;
  }
}
/* line 291, ../scss/style.scss */
.professional-experiences-header, .education-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 296, ../scss/style.scss */
.professional-experiences-separator, .education-separator {
  height: 12px;
}
/* line 298, ../scss/style.scss */
.professional-experiences-separator img, .education-separator img {
  height: 100%;
}

/* line 302, ../scss/style.scss */
.professional-experiences-list, .education-list {
  list-style-type: none;
}

/* line 305, ../scss/style.scss */
.professional-experiences-item, .education-item {
  margin-bottom: 10px;
}

/* line 308, ../scss/style.scss */
.professional-experiences-l1, .education-l1 {
  margin-bottom: -5px;
}

/* line 311, ../scss/style.scss */
.when {
  font-style: italic;
}

/* line 314, ../scss/style.scss */
.where {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Gobold;
  margin-left: 5px;
}

/* line 321, ../scss/style.scss */
.what {
  font-weight: bold;
  margin-bottom: 4px;
}

/* line 326, ../scss/style.scss */
.hello-l1, .hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7, .hello-l8 {
  color: #FFF;
  margin-bottom: 0px;
}

/* line 330, ../scss/style.scss */
.hello-l1 {
  font-size: 29px;
}

/* line 333, ../scss/style.scss */
.hello-l2, .hello-l3, .hello-l4, .hello-l5, .hello-l6, .hello-l7, .hello-l8 {
  font-size: 18px;
  margin-bottom: -4px;
}

/* line 339, ../scss/style.scss */
.section.contact {
  min-height: 600px;
}

/* line 342, ../scss/style.scss */
.contact-inner {
  min-height: 500px;
  width: 600px;
  margin: 0 auto;
}

/* line 348, ../scss/style.scss */
.contact-left-container {
  float: left;
}

/* line 351, ../scss/style.scss */
.contact-left-inner {
  width: 290px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 20px;
}

/* line 357, ../scss/style.scss */
.contact-right-container {
  float: right;
}

/* line 360, ../scss/style.scss */
.contact-right-inner {
  width: 283px;
  margin: 0 auto;
  height: 420px;
  background: url("../img/form.jpg") center center;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  /* line 368, ../scss/style.scss */
  .contact-left-inner {
    text-align: center;
    margin: 0 auto;
  }

  /* line 372, ../scss/style.scss */
  .contact-left-container, .contact-right-container {
    float: none;
  }

  /* line 375, ../scss/style.scss */
  .contact-inner {
    width: auto;
  }
}
/* line 383, ../scss/style.scss */
textarea {
  background: transparent;
  border: 2px solid #FFF;
}

/* line 387, ../scss/style.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

/* line 397, ../scss/style.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.4em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #fff;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

/* line 412, ../scss/style.scss */
.input__field:focus {
  outline: none;
}

/* line 416, ../scss/style.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 433, ../scss/style.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* line 440, ../scss/style.scss */
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

/* line 447, ../scss/style.scss */
.icon {
  color: #fff;
  font-size: 150%;
}

/* line 451, ../scss/style.scss */
.input__field--yoshiko {
  width: 100%;
  background-color: transparent;
  border: 2px solid #FFF;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

/* line 460, ../scss/style.scss */
.input__label--yoshiko {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 2.5em, 0);
  transform: translate3d(0, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 475, ../scss/style.scss */
.input__label-content--yoshiko {
  color: #fff;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 484, ../scss/style.scss */
.input__label-content--yoshiko::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

/* line 499, ../scss/style.scss */
.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
  -webkit-transform: translate3d(0, 0.75em, 0);
  transform: translate3d(0, 0.75em, 0);
}

/* line 505, ../scss/style.scss */
.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 511, ../scss/style.scss */
.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
  background-color: transparent;
  border-color: #fff;
}

/* line 516, ../scss/style.scss */
.contact-form-container {
  width: 83%;
  margin: 21px auto;
}
