@import 'compass';

@font-face{
    font-family : "Gobold";
    src : url('../fonts/gobold/Gobold Uplow.ttf');
    font-weight: bold;
}
@font-face{
    font-family : "Gobold";
    src : url('../fonts/gobold/Gobold Light.ttf');
    font-weight: normal;
}

*{
  font-family: 'Economica', sans-serif;
  font-weight: normal;
}

h1,h2,h3,h4,h5,.filter-item,a{
  font-family: "Gobold";
  text-transform: uppercase;
}


html,body{
  height: 100%;
  overflow-x:hidden;
}

ul{
  padding:0;
}

//common
h2{
  font-size: 26px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.section-header{
  padding-top: 30px;
}

//loader
.loader-wrapper {
  background:url('../img/loader.gif') no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
}


//splash

.section.splash{

  overflow:hidden;
  height: 100%;
  position:relative;

  background:url('../img/fullsplash.jpg') center center no-repeat;
  @include background-size(cover);
  @media screen and (min-width:3911px) {
    @include background-size(cover);
  }
}
.baseline-container{
  position:absolute;
  left:0;
  right:0;
  bottom:7%;
  text-align: center;
}
.baseline-l1{
    color:#FFF;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;

}
.baseline-l2{
  color:#FFF;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  p{
    margin: 0;
  }
}
.social-item{
  display:inline-block;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}
.facebook{
  background:url('../img/FB.svg');
}
.behance{
  background:url('../img/Be.svg');
}
.instagram{
  background:url('../img/Insta.svg');
}
@media screen and (min-height:500px) {
  .baseline-l1{
    font-size: 38px;
  }
  .baseline-l2{
    font-size: 24px;
  }
  .social-item{
    width: 35px;
    height: 35px;
  }
}
.splash .fa{
  color:#FFF;
}
//portfolio

.filters-container{
  width: 90%;
  margin: 14px auto 30px auto;
}

.filter-item{
  margin-right: 29px;
  @include transition(0.3s);
  text-transform: uppercase;
  padding-right: 2px;
  padding-left: 2px;
  font-style: normal;
  &:last-child{
    padding-right: 0;
    margin-right: 0;
  }
  @media screen and (max-width:540px) {
    margin-right: 10px; 
  }
}
.filter-list{
  text-align: center;
}

.filter-item:hover {
    background: #000;
    color: #FFF;
  min-height:600px;
  cursor:pointer;
}
.portfolio-list{
  font-size:0; // inline block li margin fix
}
.portfolio-item{
  font-size:12px;
  width: 16.6666666%;
  @media screen and (max-width:1090px) {
    width: 20%;
  }
  @media screen and (max-width:875px) {
    width: 25%;
  }
  @media screen and (max-width:475px) {
    width: 33.3333333334%;
  }
  @media screen and (max-width:275px) {
    width: 50%;
  }
  display:inline-block;
  img{
    width: 100%;
  }
  &:hover figcaption{
    opacity:0.8;
  }
  &:hover figcaption h3{
    top:37%;
  }
}
.portfolio-cover{
  position: relative;
}
figcaption{
  @include transition(0.4s);
  position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity:0;
    h3{
      @include transition(0.5s);
      text-align: center;
      position: relative;
      top: 45%;
      color:#FFF;
      font-size: 19px;
      line-height: 24px;
      margin: 2px;
    }
}

.image-big{
  //width: 100%;
  img{
    width: 100%;
  }
}
.project-title{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin:20px;

}

.project-description{
  font-size: 18px;
  margin: 20px;
}
.owl-item div{
  text-align: center;

}
#modal-container {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
#modal-inner{
  height:100%;
  text-align: center;
}
.project-description,.project-title{
  color:#FFF;
}
.modal-image-container{
  height: 400px;  
  width: auto;
  @media screen and (min-width:1400px){
    height: 600px;
  }
  @media screen and (min-width:1600px){
    height: 800px;
  }
  @media screen and (min-width:1800px){
    height: 1000px;
  }
  img{
    height:100%;
  }
}
#close{
  cursor:pointer;
  position:absolute;
  top:10px;
  right:10px;
  font-size: 24px;
  color:#FFF;
}


//****************** ABOUT ********************
.section.about{
  min-height: 430px;
  position: relative;
}
.professional-experiences-container,.education-container{
  width: 392px;
  text-align: center;
  width: 38%;
}
.professional-experiences-container{
  float:left;
}
.education-container{
  float:right;
}
.hello-container{
  height: 340px;
  background: url("../img/rond.jpg") center center no-repeat;
  color:#FFF;
  text-align: center;
  margin-top: 10px;
  left:0;
  right:0;
  position:absolute;
  overflow:hidden;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url("../img/rond-retina.jpg") center center no-repeat;
    background-size: contain;
  }
}
.hello-inner{
  margin-top: 62px;
}
@media screen and (max-width:1050px) {
  .professional-experiences-container,.education-container{
  float:none;
  width: 100%;
  }
  .hello-container{
    position:static;
  }
}
.professional-experiences-header,.education-header{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}
.professional-experiences-separator,.education-separator{
  img{
    height: 100%;
  }
  margin-bottom: 8px;
}
.professional-experiences-separator img {
  width: 342px;
}
.professional-experiences-separator{
  height:12px;
}
.education-separator{
  height:15px
}
.professional-experiences-list,.education-list{
  list-style-type: none
}
.professional-experiences-item,.education-item{
  margin-bottom: 10px;
}
.professional-experiences-l1,.education-l1{
  margin-bottom: -5px;
}
.when{
  font-style: italic;
}
.where{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Gobold;
  margin-left: 5px;
}
.what{
  font-weight: bold;
  margin-bottom: 4px;
}

.hello-l1,.hello-l2,.hello-l3,.hello-l4,.hello-l5,.hello-l6,.hello-l7,.hello-l8{
  color:#FFF;
  margin-bottom: 0px;
}
.hello-l1{
  font-size: 29px;
}
.hello-l2,.hello-l3,.hello-l4,.hello-l5,.hello-l6,.hello-l7,.hello-l8{
  font-size:18px;
  margin-bottom: -4px;
}

//contact

.section.contact{
  min-height:530px;
}
.contact-inner{
  min-height:450px;
  width: 600px;
  margin:0 auto;

}
.contact-left-container{
  float:left;
  width: 200px;
}
.contact-left-inner{
  width: 280px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 20px;
}
.contact-right-container{
  float: right;
  width: 338px;
}
.contact-right-inner{
  width: 283px;
  margin:0 auto;
  height: 455px;
  background: url("../img/form.jpg") center center no-repeat;
  overflow:hidden;
  p{
    color: white;
    font-size: 20px;
    margin-top: 202px;
    margin-left: 16px
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    background: url("../img/form-retina.jpg") center center no-repeat;
    @include background-size(contain);
  }
}
@media screen and (max-width:800px){
  .contact-left-inner{
    text-align: center;
    margin-left: 23px;
    margin-top: 26px;

  }
  .contact-left-container,.contact-right-container{
    float:none;
  }
  .contact-inner{
    width: 322px;
  }
}
  //form
  label{
    //margin-bottom: 16px;
  }
  textarea{
    background: rgba(0,0,0,0);
    border: 2px solid #FFF;
    width: 100%;
  }
  .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.4em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #fff;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #fff;
  font-size: 150%;
}
.input__field--yoshiko {
  width: 100%;
  //height: 28px;
  background-color: rgba(0,0,0,0);
  border: 2px solid #FFF;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.input__label--yoshiko {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 2.5em, 0);
  transform: translate3d(0, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s ;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
  color: #fff;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
  -webkit-transform: translate3d(0, 0.75em, 0);
  transform: translate3d(0, 0.75em, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
  background-color: transparent;
  border-color: #fff;
}
.contact-form-container{
  width: 83%;
  margin: 35px auto;
  position:relative;
}
.submit-btn{
  position:absolute;
  right:14px;
  background:#000;
  color:#FFF;
  text-transform: uppercase;
  border:1px solid #FFF;
  z-index:1;
  &:hover{
    color:black;
  }
  &:after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width: 0;
    background:#FFF;
    z-index:-1;
    @include transition(0.5s);
  }
  &:hover:after{
    width: 100%;
  }
}
//FOOTER
.footer{
  color:#FFF;
  height: 60px;
  background:#000;
  text-transform: uppercase;
  text-align: center;
}
.footer-l1{
  display:inline-block;
}
.footer-name{
  font-size: 22px;
}
.footer-list{
  margin:0;
  display:inline;
}
.footer-item{
  display: inline-block;
  margin-left: 16px;
}
.footer-link{
  color:lightgrey;

  &:hover{
    color:#FFF;
    text-decoration:none;
  }
}
.contact-me-link{
  font-size: 12px;
  color:lightgrey;
}