@import 'compass';

@font-face{
    font-family : "Gobold";
    src : url('../fonts/gobold/Gobold Uplow.ttf');
    font-weight: bold;
}
@font-face{
    font-family : "Gobold";
    src : url('../fonts/gobold/Gobold Light.ttf');
    font-weight: normal;
}

*{
	font-family: 'Economica', sans-serif;
	font-weight: normal;
}

h1,h2,h3,h4,h5,.filter-item,a{
	font-family: "Gobold";
	text-transform: uppercase;
}


html,body{
	height: 100%;
}

ul{
	padding:0;
}

//common
h2{
	font-size: 26px;
	margin: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

//loader
.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
}

//nav
.navbar-inverse{
	background-color:#000;
}

//splash

section.splash{

	overflow:hidden;
	height: 100%;
	h1{
		color:#FFF;
		letter-spacing: 1px;
		font-size: 24px;

		bottom:30px;
  		height: 36px;
  		width: 155px;
  		margin:0 auto;
  		margin-top:500px;
  		
  		text-transform: uppercase;

	}
	background:url('../img/acceuil.jpg') center center;
	@include background-size(cover);
}

//portfolio

section.portfolio{

	.filter-item{
		margin-right: 29px;
		@include transition(0.3s);
	}
	.filter-list{
		margin-left: 20px;
	}
	.filter-item{
		text-transform: uppercase;
		padding-right: 4px;

	}
	.filter-item:hover {
    	background: #000;
    	color: #FFF;
		min-height:600px;
		cursor:pointer;
	}
	.portfolio-list{
		font-size:0; // inline block li margin fix
	}
	.portfolio-item{
		font-size:12px;
		width: 25%;
		display:inline-block;
		img{
			width: 100%;
		}
		&:hover figcaption{
			opacity:0.8;
		}
		&:hover figcaption h3{
			top:38%;
		}
	}
	.portfolio-cover{
		position: relative;
	}
	figcaption{
		@include transition(0.4s);
		position: absolute;
  		bottom: 0;
  		top: 0;
  		width: 100%;
  		height: 100%;
  		background-color:#000;
  		opacity:0;
  		h3{
  			@include transition(0.5s);
  			text-align: center;
  			position: relative;
  			top: 42%;
  			color:#FFF;
  		}
	}

	@media (max-width:500px) {
		.portfolio-item{
			width: 50%;
		}
		
	}

	.image-big{
		//width: 100%;
		img{
			width: 100%;
		}
	}
	.project-title{
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
		margin:20px;
	}

	.project-description{
		font-size: 18px;
		margin: 20px;
	}
	.owl-item div{
		text-align: center;

	}
}
section.about{
	min-height: 600px;
}

section.contact{
	min-height:600px;
}
